form{
    width: 90%;
    margin: auto;
}

button{
    width: 100%;
}

.home{
    margin: 1rem auto;
    text-align: center;
    color: black;
}

.mat-card {
    background: #dfd1b3;
    color: #a85919;
}

.subtitle{
    font-size: 20px;
    color: black;
}

.subtitle2{
    font-size: 18px;
    color: #000000;
    font-style: italic;
    font-weight: bold;
    font-family: arial, sans-serif;
}