.header{
    justify-content: center;
    height: 10%;
    background-color: rgb(32, 31, 32);
}
.header-h1{
    color:#B4DD7F;
    padding-left: .8rem;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
    font-family: arial, sans-serif;
}

img{
    height: 2.7rem;
}

span{
    display: flex;
    align-items: center;
}
