form{
    text-align: center;
    width: 70%;
    margin: 2rem auto 0 auto;
    color: black;
    font-style: italic;
    font-weight: bold;
    font-family: arial, sans-serif;
    font-size: 20px;
}

h2{
    color: #656D78;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    font-family: arial, sans-serif;
    background-color: #B4DD7F;
}

.form{
    width: 100%;
}

.buttons{
    width: 100%;
    text-align: start;
}

button{
    margin-right: .5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}