form{
    width: 80%;
    height: 60%;
    text-align: center;
    margin: 5rem auto 0 auto;
    color: #000000;
    font-style: italic;
    font-weight: bold;
    font-family: arial, sans-serif;
    background-color: white;
}

h2{
    color: #656D78;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    font-family: arial, sans-serif;
    background-color: #B4DD7F;
}

.form{
    width: 60%;
    text-align: center;
    font-size: 24px;
    color: #000000;
    margin: 2rem auto 0 auto;
}

button{
    margin-right: .5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-top: 3rem;
}