<form>
  <H2 class="mat-elevation-z17">REMOVER CATEGORIA</H2>

  <mat-form-field class="form">
    <mat-label>Nome</mat-label>
    <input matInput type="text" name="nome" disabled/>
  </mat-form-field>
  <mat-form-field class="form">
    <mat-label>Descrição</mat-label>
    <textarea matInput type="text" name="descricao" disabled></textarea>
  </mat-form-field>

  <div class="buttons">
    <button class="mat-elevation-z8" mat-stroked-button color="primary">
      REMOVER
    </button>
    <button class="mat-elevation-z8" mat-stroked-button color="warn">
      CANCELAR
    </button>
  </div>
</form>
