form{
    text-align: center;
    width: 80%;
    margin: 4rem auto 0 auto;
    color: #000000;
    font-style: italic;
    font-weight: bold;
    font-family: arial, sans-serif;
}

h2{
    color: #656D78;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    font-family: arial, sans-serif;
    background-color: #B4DD7F;
}

.buttons{
    width: 100%;
    text-align: start;
}

button{
    margin-top: 1.8rem;
    margin-right: .5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.mat-form-field {
    width: 50%;
}

.buttonf{
    width: 100%;
}