form{
    text-align: center;
    width: 70%;
    margin: 2rem auto 0 auto;
    color: #3F51B5;
}

h2{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 3rem;
    color:#424144;
}

.form{
    width: 100%;
}

.buttons{
    color:  green;
    width: 100%;
    text-align: start;
}

button{
    margin-right: .5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}